/* MIXIN */

// Auto grid
@mixin grid($cols, $mgn){
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;
    width: ((100% - (($cols - 1) * $mgn)) / $cols);
    &:nth-child(#{$cols}n){
        margin-right: 0;
    }
}


@mixin clearFix{
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

//Header lines decoration
@mixin lines{
    h2{
        text-align: center;
        margin-top: 3.5%;
        margin-bottom: 3.5%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    h2:before,
    h2:after{
        content: '';
        border-top: 1px solid;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }
    h2:after{
        margin: 0 0 0 20px;
    }
} 
